* {
        margin: 0;
        padding: 0;
}


body {
        background: url(../img/background.png);
}

/*div under content как с помощью сервиса для создания градиента получить нужный нам градиент для подложки и всего body?
пыталась копировать цвета с помощью фотошопа и закидывать на сайт, но так и не добилась результата*/

/*all content*/


.Wripper {
        margin: 0 auto;
        width: 1000px;
        background: white;
        height: auto;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}


/**header**/

.header {
        height: 213px;
        border-bottom: 2px solid #138aa7;
}

.left_header {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 15px 0px 0px 30px;

}

.right_header {
        float: right;
        width: 50%;
        box-sizing: border-box;
        padding: 15px;
}

.contacts {
        float: right;
}


.contacts li {
        list-style-type: none;
        padding-right: 20px;
        color: #41a1b9;
        font-size: 16px;
        font-family: Tahoma Regular;
        text-align: left;
        line-height: 20px;
}

.contacts li a {
        display: block;
        color: #41a1b9;
        padding-right: 20px;
        text-decoration: none;
        font-size: 16px;
        font-family: Tahoma Regular;
        text-align: left;
        line-height: 20px;
}

.countries {
        clear: both;
        float: right;
        padding-top: 30px;
        position: relative;
        overflow: hidden;
}

.countries li {
        float: left;
        color: #2292ad;
        list-style-type: none;
        width: 60px;
}

.countries li a {
        display: block;
        color: #2292ad;
        font-size: 12px;
        font-family: Tahoma Regular;
        text-align: center;

}

/**main image**/


.main_image {
        clear: both;
}

.main_image img {
        display: block;
        border-bottom: 2px solid #138aa7;
        box-sizing: border-box;

}

/*menu*/

.nav {
          background: #323232;
}

.topmenu {
        position: relative;
}

.topmenu li {
        display: inline-block;
        float: left;
        text-align: center;
        width: 138px;
        line-height: 40px;
        position: relative;

}

        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul:after {
            display: block;
            content: ' ';
            clear: both;
            float: none;
        }
        ul.topmenu > li {
            float: left;
            position: relative;
        }
        ul.topmenu > li > a {
            display: block;
            color: white;
            text-decoration: none;
        }

        ul.submenu {
            display: none;
            position: absolute;
            top: 37px;
            left: 0;
            background-color: white;


        }
        ul.submenu > li {
            display: block;
            background: #323232;
        }
        ul.submenu > li > a {
            display: block;
            color: white;
            text-decoration: none;
        }
        ul.submenu > li > a:hover {
            text-decoration: underline;
        }

        ul.submenu > li > a:hover {
            text-decoration: underline;
        }


.topmenu li:hover > .submenu {
    display:block;
    border-top: 1px solid black;

}


/*Content*/
.content {
        clear: both;
        width: 100%;
        overflow: hidden; /* чтобы лишее обрезалось */
}


.leftColumn {
	      width: 20%;
	      float: left;
        background: #edeef0;
	      padding-bottom: 20000px;
        margin-bottom: -20000px;
        border-right: 1px solid #c7cacf;
        box-sizing: border-box;
}
.leftColumn p,
.rightColumn p {
        text-align: center;
}

.text_column {

        text-align: center;
        line-height: 2;
        font-family: Tahoma Regular;
      
}
.centerColumn {
        width: 60%;
        float: left;
        background: white;
        box-sizing: border-box;
        padding-bottom: 20000px;
        margin-bottom: -20000px;
}

.rightColumn {
      	width: 20%;
      	float: right;
      	background: #edeef0;
        padding-bottom: 20000px;
      	margin-bottom: -20000px;
        border-left: 1px solid #c7cacf;
        box-sizing: border-box;
}



footer {
        clear: both;
        margin: 5px;
        text-align: center;
        color: white;
}
